/*external css/external styling
	inline - 100
	internal - 10
	external - 50

	specifity
		selectors
			- id
			- class
			- combinators
	Relative Lengths
		- are lengths that change relative to something:
			- % unit for percentage
			- em relative to the current font size
			- rem relative to the current font size on the html element
			- vw relative to the width of the viewport divided 100
			- vh relative to the heigth of the viewport divided 100
	Absolute Lengths
		- are lengths that do not change
			- px unit of pixels
			- in unit of inches
			- pt unit of points
*/
/* Universal Selector - allows us to select all of our elements*/

* {
	/*
		All Elements will now have a font style of Courier New and the default will be about 20px
		monospace is a fallback font. In the event aht the machine used to view your documents does not have the declared font, we will fallback to similar.

		font-family: changes the font style of text;
		font-size: changes the size of the text;
	 */
	font-family: "times new roman", monospace;
	font-size: 20px;
	/*CSS Reset*/
	margin: 0;
	padding: 0;
}

/*selectors - used to select elements by their tag name*/

body {
	background-color: antiquewhite;
}

html {
	scroll-behavior: smooth;
}

nav {
	background-color: floralwhite;
}

/*type selector allows to select all elements of the same type/tag*/
h1 {
	color: black !important;
	text-align: center;
	font-size: 2rem;

	/*rem is a measurement which means num * the default size of the root element's font (16px) */
}

section	{
	height: 100vh;
	/*vh means viewport height meaning this measurement takes the percentage of the overall height of the screen you are viewing*/
	text-align: center;
	/*allow us to align our text horizontally*/
}

h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

/*id- selector it is given more priority than other selector*/
#zuitt-motto {
	letter-spacing: 5px;
}

/*class selector for elements of the same classes*/
.offering-item {
	text-transform: uppercase;
}

img{
	border-radius: 360px;
}

h2 ~ a{
	text-decoration: none;
}

/*register section*/

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37%;
}

.form-button{
	color: white;
	background-color: #cf0053;
	border: 0;
	border-radius: 15px;
}