*{
	font-family: verdana, sans-serif, monospace;
	size: 20px;
}

h1{
	font-size: 3rem;
}

#welcome-h2{
	text-transform: uppercase;
}

.list-item{
	background-color: lightgreen;
}

.list-item2{
	border-color: blue;
	border-width: 2px;
	border-style: solid;
}

img + li{
	list-style-type: none;
}

section img{
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

ul ~ p{
	text-align: center;
}

section > p{
	letter-spacing: 10px;
}

nav .nav-a{
	text-decoration: none;
}

body{
	background-color: antiquewhite;
}

#welcome-section #welcome-p{
	color: yellow;
	text-shadow: 2px 2px 5px dimgrey;
}

#img-me .img-cutie, .img-handsome, .img-awesome{
	width: 50%;
	height: 50%;
}

.compliment-1, .compliment-2, .compliment-3{
	font-size: 30px;
	padding-left: 18%;
	font-family: papyrus;
	text-shadow: 5px 4px 4px black, 2px 7px 4px deeppink;
}

